html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #020617;
}

.page-exit {
  animation: pageExit 0.5s ease-in forwards;
}

@keyframes pageExit {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.98);
  }
}

/* Hide default cursor */
body {
  cursor: none;
}

/* GLOWY CURSOR */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999999;
  transform: translate(-50%, -50%);

  background: rgba(255, 255, 255, 0.95);

  /* Glow */
  box-shadow:
    0 0 8px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(56, 189, 248, 0.6),
    0 0 40px rgba(56, 189, 248, 0.35);

  transition:
    width 0.15s ease,
    height 0.15s ease,
    box-shadow 0.15s ease,
    background 0.15s ease,
    transform 0.12s ease;
}
